.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body {
  background: linear-gradient(75deg, 
                  #fff 20%, #20273b36 20%, 
                  #20273b36 30%, #ff930136 30%,
                  #ff930136 40%, #fff 40%);
  color: #333333;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.content {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 84px;
}

.subtitle {
  font-size: 20px;
  text-align: right;
  margin-top: -1em;
  padding-right: 1em;
}

.m-b-md {
  margin-bottom: 30px;
}

input {
  display: block;
  margin: 0.5em;
  font-weight: 100;
  font-size: 11px;
  letter-spacing: 0.1em;
}

input:focus {
  outline: none;
}

.register {
  margin-left: 5em;
  display: block;
}

.login {
  margin-left: 5em;
  display: none;
}

.register p,
.login p {
  font-size: 12px;
}

.register span,
.login span {
  color: #ff9301;
  cursor: pointer;
}

.form-control {
  width: 250px;
  height: 25px;
  padding-left: 10px;
  border: none;
  border-bottom: 1px solid #20273b61;
  font-weight: 100;
}

.registerHeader,
.loginHeader {
  background: linear-gradient(to right, #20273b, #20273b6e);
  color: white;
  border-radius: 5px 5px 0 0;
}

h3 {
  text-align: left;
  padding-left: 10px;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  line-height: 30px;
  font-weight: 100;
  font-size: 15px;
}

.registerBody,
.loginBody {
  background: #efefef;
  padding: 1em;
  font-size: 13px;
  text-align: left;
  border-radius: 0 0 5px 5px;
}

.registerBody label,
.loginBody label {
  font-size: 11px;
  margin-left: 7px;
}

button {
  width: -webkit-fill-available;
  margin: 1em 5em;
  border: none;
  font-size: 11px;
  color: #fff;
  background: #20273b;
  padding: 10px;
  letter-spacing: 0.15em;
}